@page "/Privacy"

<h3>Privacy</h3>

<p>This ain't a corporation, this is just one dev trying out stuff. Nothing sus here.</p>

<p>NOTE : Currently Using Microsoft's <a href="https://docs.microsoft.com/en-us/clarity/faq" target="_blank">Clarity</a> to view website usage.</p>


@code {

}
