@page "/SignalR"

@inject TestSignalRHub testSignalRHub

<h3>SignalRTest</h3>

<div>
    @IncomingMessage
</div>

<div class="py-3">
    Click <a href="https://roman015storage.blob.core.windows.net/test/test_event_modified.ics">Here</a> to download .ics file
</div>

@code {
    string IncomingMessage { get; set; } = "No Message";

    protected override async Task OnInitializedAsync()
    {
        #region HubConnection Setup
        testSignalRHub.Closed += error =>
        {
            Console.Error.WriteLine("Hub Connection Closed, Reconnecting : " + error.Message);
            Console.WriteLine("Hub Connection Closed, Reconnecting : " + error.Message);
        };

        IncomingMessage = "Connecting...";
        testSignalRHub.StartConnection();
        IncomingMessage = "Connected, Listening...please wait.";
        #endregion

        testSignalRHub.TestMessage += (message) =>
        {
            IncomingMessage = message;
            StateHasChanged();
        };
    }
}
